---
title: "Unlimited Potential"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/banner.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [Ryan Rosas](https://www.instagram.com/pixleprohd/?hl=en)"
excerpt: "Learn the keys to achieving anything you want in life, enabling you to accomplish things you haven’t dared to dream. Everything you need to fulfill your desires is already within you. Your only limitations are the ones you place on yourself, eliminate those and you are on your way to Unleashing Your Unlimited Potential."
feature_row:
  - image_path: /assets/magic.png
    alt: "It's not magic"
    title: "It's not magic"
    excerpt: "Mindset can achieve seemingly magical results. It's not magic though. What seems like magic is really just a process of identifying what you want and taking action to get it."
  - image_path: /assets/script.png
    alt: "Change the Sscript"
    title: "Change the script"
    excerpt: "Learn how to separate fact from fiction. You are the author of your own destiny. Don't let the noise take you down."
  - image_path: /assets/decide.png
    alt: "You decide"
    title: "You decide"
    excerpt: "The way that you respond to situations is the thing that makes the difference. Everyone goes through hard times. Don't let them get you down, keep pushing through and you can achieve anything you want."
feature_row_jmb:
  - image_path: /assets/magic.png
    alt: "It's not magic"
    title: "It's not magic"
    excerpt: "Mindset can achieve seemingly magical results. It's not magic though. What seems like magic is really just a process of identifying what you want and taking action to get it."
  - image_path: /assets/script.png
    alt: "Change the Sscript"
    title: "Change the script"
    excerpt: "Learn how to separate fact from fiction. You are the author of your own destiny. Don't let the noise take you down."
  - image_path: /assets/decide.png
    alt: "You decide"
    title: "You decide"
    excerpt: "The way that you respond to situations is the thing that makes the difference. Everyone goes through hard times. Don't let them get you down, keep pushing through and you can achieve anything you want.
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="jmb" type="center" %}

{% include feature_row_jmb %}
