---
title: "Unlimited Potential"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/banner.png
  actions:
    - label: "Send My Free Book Preview"
      url: "/pages/optin.html"
  caption: "Photo credit: [Ryan Rosas](https://www.instagram.com/pixleprohd/?hl=en)"
excerpt: "Learn the keys to achieving anything you want in life, enabling you to accomplish things you haven’t dared to dream. Unleashing Your Unlimited Potential is for people who feel stuck and desperately want to find a way forward in their lives. In a strikingly personal journey, Josh Burdett reveals some of the darkest moments of his life and shares how he overcame his challenges. Get the first three chapters for free!"
feature_row:
  - title: "It's not magic"
    excerpt: "Mindset can achieve seemingly magical results. It's not magic though. What seems like magic is really just a process of identifying what you want and taking action to get it."
  - title: "Change the script"
    excerpt: "Learn how to separate fact from fiction. You are the author of your own destiny. Don't let the noise take you down."
  - title: "You decide"
    excerpt: "The way that you respond to situations is the thing that makes the difference. Everyone goes through hard times. Don't let them get you down, keep pushing through and you can achieve anything you want."
  - title: "Problem free life"
    excerpt: "When you have the right mindset, there really is no such thing as a problem. Nothing can possibly go wrong. Once you learn to go with the flow, everything becomes easier."
  - title: "Get to know you"
    excerpt: "One of the most important aspects of mindset is self-awareness. You will see how a simple meditation practice can help you to find the real you."
  - title: "Inner happiness"
    excerpt: "Only you can control your own happiness. Carrying out work on yourself is the only way to achieve inner peace. You can't rely on anything external. "
feature_row2:
  - image_path: /assets/problem.png
    alt: "Solve Any Problem"
    title: "SOLVE ANY PROBLEM"
    excerpt: 'Solve ANY problem that presents itself in your life. When you can recognize that problems are nothing more than the way you perceive and make sense of a situation, you are able to move past negative emotions and turn them into something positive.'
feature_row3:
  - image_path: /assets/mind.png
    alt: "Manage Your Mind"
    title: "MANAGE YOUR MIND"
    excerpt: 'Manage your mind and change your world. Your mind controls your reality. Once you have control of how you want to view your world, you give yourself the freedom and power to exist to your greatest potential.'
feature_row4:
  - image_path: /assets/blocks.png
    alt: "Eliminate Blocks"
    title: "ELIMINATE BLOCKS"
    excerpt: 'When you can recognize and eliminate the blocks that hold you back, you will be in the most powerful position to move forward in your life. There will be nothing stopping you from striving for and achieving the things you want.'
feature_row5:
  - image_path: /assets/self.png
    alt: "find yourself"
    title: "FIND YOURSELF"
    excerpt: 'Adding a simple meditation practice to your daily routine can really change your life. Meditation not only calms the mind, it also allows you to move into your day more peacefully. It heightens awareness of your ego and allows you to observe your thinking, allowing you to move past the thoughts that can hold you back.'
feature_row6:
  - image_path: /assets/power.png
    alt: "Endless Power"
    title: "ENDLESS POWER"
    excerpt: 'Connecting to an endless source of power enables you to live the life you desire. Being mindful of the vibrations you absorb and radiate is key to ensuring you have the ability to control the energy you are in alignment with.'
feature_row7:
  - image_path: /assets/workout.png
    alt: "Everything will work out"
    title: "EVERYTHING WILL WORK OUT"
    excerpt: 'Everything happens in life for you, not to you. Instead of dwelling on and investing time in anything negative, allow everything positive into your world. You will experience your life working out for you as it should because you live in a universe that has your back. Have faith that everything will work out and it will.'
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="feature_row5" type="right" %}

{% include feature_row id="feature_row6" type="left" %}

{% include feature_row id="feature_row7" type="right" %}
